.top ul.top-social li a {
  padding: 0px 10px;
  display: block;
  width: 35px;
  height: 35px;
  border-radius: 50%;
  font-size: 19px;
  line-height: 40px;
  color: #ffffff;
  background: #e4000d;
}
